= render 'shared/breadcrumbs', mode: :edit, depth: :problem, cs_class: @cs_class, problem: @problem, terminal_string: 'Edit problem'

= render 'form', cs_class: @cs_class, problem: @problem

= link_to 'Show', [@cs_class, @problem]
\|
= link_to 'Back', cs_class_problems_path(@cs_class)
